/.gradle
/.gradle/*
/dist
/dist/*
/.gradle
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.9/fileHashes/fileHashes.lock
.gradle/8.9/fileHashes/fileHashes.bin
.gradle/8.9/executionHistory/executionHistory.lock
.gradle/8.9/executionHistory/executionHistory.bin
*.lock
